<h1 class="text-center">My Service</h1>
<div class="container">
<%= link_to new_service_path, class: "btn btn-info mb-3 rounded-pill" do %>
<span><i class="fa-solid fa-plus"></i>Add a service</span>
<% end %>
  <div class="row">
    <%= render "shared/service_cards", service: @service%>
  </div>
</div>

<%# <%= link_to "New service", new_service_path if policy(service).new? %>
