.navbar-mysuperapp {
  justify-content: space-between;
  background-color: $navbar;
  padding: 15px;

}

.navbar-mysuperapp .navbar-collapse {
  flex-grow: 0;
}

.navbar-mysuperapp .navbar-brand img {
  width: 40px;
}

.navbar {
   color: $text;
}
