.navbar-mysuper {
  justify-content: space-between;
  background: #f4f4f4;
}

.navbar-mysuperapp .navbar-collapse {
  flex-grow: 0;
}

.navbar-mysuperapp .navbar-brand img {
  width: 60px;
}

.navbar {
  background-color: #f4f4f4;
  padding: 15px;
}
